#searchbtn {
  border-radius: 10px;
  -webkit-border-radius: 10px;
  box-shadow: 0 1px 2px #06bd0f;
  background-color: #06bd0f;
  padding: 4px;
}
#seepro {
  border-radius: 10px;
  -webkit-border-radius: 10px;
  padding: 4px;
}
#searchbtn:hover {
  background-color: #45a049;
}
/*-----------------------------------HOME---------------------------------*/
body,
html {
  height: 100%;
}
#home-page body,
#home-page h1,
#home-page h2,
#home-page h3,
#home-page h4,
#home-page h5,
#home-page h6 {
  font-family: "Amatic SC", sans-serif;
}
.bgimg {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../banner.jpg");
  min-height: 80%;
  font-size: larger;
}
/*-----------------------------------NEXT---------------------------------*/
#Footer div {
  background-color: none;
}
html {
  scroll-behavior: smooth;
}
* {
  box-sizing: border-box;
}

#se,
sp input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
} /* Set a style for all buttons */
button {
  background-color: #4caf50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
} /* Add a hover effect for buttons */
button:hover {
  opacity: 0.8;
} /* Extra style for the cancel button (red) */
.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
} /*
    Center the avatar image inside this container */
.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
} /* Add padding to containers */
.container {
  padding: 16px;
} /* The "Forgot password" text */
span.psw {
  float: right;
  padding-top: 16px;
} /* Change styles for span and cancel button on extra
    small screens */
@media screen and (max-width: 300px) {
  span.psw {
    display: block;
    float: none;
  }
}
label,
p {
  color: black;
}
/*--------------------------PRODUCT FORM----------------------------------*/
/* H2 {
  font-size: 40px;
  font: bold;
} */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  width: 169px;
  max-height: 500px;
  text-align: center;
  font-family: arial;
  margin-top: 20px;
  margin-right: 10px;
}
.price {
  color: grey;
  font-size: 30px;
}
.card button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
  bottom: 5px;
}
.card button:hover {
  opacity: 0.7;
}
/*--------------------------PAYMENT FORM----------------------------------*/
.row {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /*
    IE10 */
  flex-wrap: wrap;
  margin: 0 -16px;
}
.col-25 {
  -ms-flex: 25%; /* IE10
    */
  flex: 25%;
}
.col-50 {
  -ms-flex: 50%; /* IE10 */
  flex: 50%;
}
.col-75 {
  -ms-flex: 75%; /* IE10 */
  flex: 75%;
}
.col-25,
.col-50,
.col-75 {
  padding: 0 16px;
}
.container {
  background-color: #f2f2f2;
  padding: 5px 20px 15px 20px;
  border: 1px solid lightgrey;
  border-radius: 3px;
}
input[type="text"] {
  width: 100%;
  margin-bottom: 20px;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 3px;
}
label {
  margin-bottom: 10px;
  display: block;
}
.icon-container {
  margin-bottom: 20px;
  padding: 7px 0;
  font-size: 30px;
}
.btn {
  background-color: #04aa6d;
  color: white;
  padding: 12px;
  margin: 10px 0;
  border: none;
  width: 100%;
  border-radius: 3px;
  cursor: pointer;
  font-size: 30px;
}
.btn:hover {
  background-color: #45a049;
}
span.price {
  float: right;
  color: grey;
} /* Responsive layout - when the screen is less than 800px wide,
    make the two columns stack on top of each other instead of next to each other
    (and change the direction - make the "cart" column go on top) */
@media (max-width: 800px) {
  .row {
    flex-direction: column-reverse;
  }
  .col-25 {
    margin-bottom: 20px;
  }
}
